.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 72px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 72px;
  vertical-align: top;
  opacity: 0.75;
}

.wSquare {
  background: #fff
}

.bSquare {
  background: rgb(118,150,86)
}

.xPiece {
  background-size: cover;
  background-position: center center;
  background-image: url("../public/putin_face.png");
}

.oPiece {
  background-size: cover;
  background-position: center center;
  background-image: url("../public/zelensky.jpeg")
}

.board-row {
  margin: auto;
  width: 90%
} 

#game {
}

#gameInfo {
  margin: auto;
  width: 50%;
}

#gameOptions {
  margin: auto;
  width: 50%;
}

#board {
  margin: auto;
  width: 50%;
  padding: 10px;
} 

div.flag {
  width: 20%;
}

img.flag {
  text-align: right;
  display: block;
  width: 20%;
  border: solid 1px;
  margin-top: 10%;
}

body {
  background-size: cover;
  background-image: url("../public/background.jpeg")
}

.flex {
  display: flex;
  flex-direction: row;
}

#ukraine_flag {
  margin-left: 70%;
  margin-right: 10%;
}

#russia_flag {
  margin-right: 70%;
  margin-left: 10%;
}
