.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
  vertical-align: top;
}

.wSquare {
  background: #fff
}

.bSquare {
  background: rgb(118,150,86)
}

.xPiece {
  background-size: cover;
  background-position: center center;
  background-image: url("../public/putin_face.jpeg")
}

.oPiece {
  background-size: cover;
  background-position: center center;
  background-image: url("../public/zelensky.jpeg")
}

.board-row {
  margin: auto;
} 

#game {
}

#gameInfo {
  margin: auto;
  width: 50%;
}

#gameOptions {
  margin: auto;
  width: 50%;
}

#board {
  margin: auto;
  width: 50%;
  padding: 10px;
} 
